.wrap {
  margin: 0 auto;
  max-width: 1025px;
  background-color: #fafafa;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/img-headerShape.png);
  height: 399px;
  max-width: 1024px;
  padding-top: 12%;
}

.header .header__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14%;
  margin-right: 14%;
}

.header .header__picture h1 {
  font-size: 42px;
  color: #000000;
  line-height: 56px;
}

.header .header__picture p {
  font-size: 14px;
  color: #4a4a4a;
  line-height: 19px;
}

.header .header__picture .circular--landscape {
  width: 151px;
  height: 151px;
  overflow: hidden;
  border-radius: 50%;
}

.header .header__picture .circular--landscape img {
  max-width: 200px;
  max-height: 200px;
  margin-top: -10%;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__contact .header__contact--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15%;
}

.header .header__contact .header__contact--item p {
  margin-left: 10%;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 414px) {
  .header {
    padding-top: 5%;
    height: auto;
  }
  .header .header__picture {
    margin-left: 5%;
    margin-right: 5%;
  }
  .header .header__picture .circular--landscape {
    width: 120.8px;
    height: 120.8px;
  }
  .header .header__picture .circular--landscape img {
    max-width: 160px;
    max-height: 160px;
  }
  .header .header__contact {
    margin-left: 10px;
  }
  .header .header__contact .header__contact--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10%;
  }
  .header .header__contact .header__contact--item p {
    margin-left: 0%;
  }
  .header .header__contact .header__contact--item img {
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 5px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.main .main__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 414px) {
  .main .main__skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .main__skill .main__skill--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 25px 35px 25px 35px;
  width: 284px;
  height: 276px;
}

.main .main__skill .main__skill--item h2 {
  font-size: 18px;
  line-height: 24px;
  color: #4a4a4a;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main .main__skill .main__skill--item ul {
  list-style: disc inside;
  width: 100%;
}

.main .main__skill .main__skill--item li {
  font-size: 10px;
  line-height: 20px;
  color: #4a4a4a;
  text-align: left;
}

.main .main__skill .main__skill--item.orange {
  border-bottom: 6px solid #f58d23;
}

.main .main__skill .main__skill--item.green {
  border-bottom: 6px solid #539e43;
}

.main .main__skill .main__skill--item.purple {
  border-bottom: 6px solid #6762a6;
}

@media (max-width: 414px) {
  .main .main__skill .main__skill--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.main .main__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__experience .trunk {
  position: relative;
  background: #d8d8d8;
  width: 2px;
  height: 513px;
}

.main .main__experience .trunk .top {
  position: absolute;
  top: 0px;
  left: -15px;
}

.main .main__experience .trunk .node {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.main .main__experience .trunk .node img {
  max-width: 24px;
  max-height: 28px;
}

.main .main__experience .trunk .node.node--2 {
  left: -11px;
  top: 10%;
}

.main .main__experience .trunk .node.node--2 img {
  margin-right: 13px;
}

.main .main__experience .trunk .node.node--1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  right: -11px;
  top: calc(10% + 150px);
}

.main .main__experience .trunk .node.node--1 img {
  margin-left: 13px;
}

.main .main__experience .trunk .node.node--0 {
  left: -11px;
  top: calc(10% + 300px);
}

.main .main__experience .trunk .node.node--0 img {
  margin-right: 13px;
}

.main .main__experience .trunk .node .content {
  background: #ffffff;
  border: 1px solid #fb56bf;
  border-radius: 10px;
  width: 260px;
  height: 136px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.53px;
  color: #4a4a4a;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .main__experience .trunk .node .content.reverse {
  text-align: right;
  padding-right: 10px;
}

.main .main__experience .trunk .node .content h3 {
  color: #8a1737;
  font-weight: bold;
}

.main .main__experience .trunk .node .content p {
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.44px;
  line-height: 18px;
}

.main .main__experience .trunk .root {
  position: absolute;
  bottom: 0px;
  left: -22px;
  background: #d8d8d8;
  width: 46px;
  height: 4px;
  border-radius: 2px;
}

@media (max-width: 414px) {
  .main .main__experience {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .main__experience .trunk {
    margin-left: 10%;
  }
  .main .main__experience .trunk .node.node--1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: -11px;
  }
  .main .main__experience .trunk .node.node--1 img {
    margin-left: 0px;
    margin-right: 13px;
  }
  .main .main__experience .trunk .node .content.reverse {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: left;
    padding-right: 0px;
  }
}

.main .main__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 414px) {
  .main .main__works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .main__works .main__works--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 284px;
  height: 213px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
}

.main .main__works .main__works--item h2 {
  font-weight: bold;
  color: #000000;
  margin: 10px 0px 7px 8px;
}

.main .main__works .main__works--item p {
  color: #4a4a4a;
  margin-left: 8px;
}

.main .main__works .main__works--item .w1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 150px;
  background: #ffa0dc;
}

.main .main__works .main__works--item .w1 img {
  max-width: 207px;
  max-height: 114px;
}

.main .main__works .main__works--item .w2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.main .main__works .main__works--item .w2-3 img {
  max-width: 80px;
  max-height: 80px;
}

.main .main__works .main__works--item .w2-3.black {
  background: #424242;
}

.main .main__works .main__works--item .w2-3.blue {
  background: #8ad7fa;
}

@media (max-width: 414px) {
  .main .main__works .main__works--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .main .main__works .main__works--item .w1 {
    width: 100%;
  }
  .main .main__works .main__works--item .w2-3 {
    width: 100%;
  }
}

.main .main__aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15%;
  padding-bottom: 74px;
}

.main .main__aboutMe img {
  max-width: 260px;
  max-height: 335px;
}

.main .main__aboutMe .main__aboutMe--text {
  padding: 30px 10% 0px 45px;
}

.main .main__aboutMe .main__aboutMe--text p {
  font-size: 14px;
  line-height: 26px;
  color: #4a4a4a;
}

@media (max-width: 414px) {
  .main .main__aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

.footer {
  background-image: url(../assets/img-Looper-bg.png);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer h2 {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}
