.main__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .main__skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 414px) {
  .main__skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__skill .main__skill--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 25px 35px 25px 35px;
  width: 284px;
}

.main__skill .main__skill--item p {
  font-size: 18px;
  line-height: 24px;
  color: #4a4a4a;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main__skill .main__skill--item ul {
  list-style: disc inside;
  width: 100%;
}

.main__skill .main__skill--item li {
  font-size: 10px;
  line-height: 20px;
  color: #4a4a4a;
  text-align: left;
}

.main__skill .main__skill--item.orange {
  border-bottom: 6px solid #f58d23;
}

.main__skill .main__skill--item.green {
  border-bottom: 6px solid #539e43;
}

.main__skill .main__skill--item.purple {
  border-bottom: 6px solid #6762a6;
}

@media (max-width: 767px) {
  .main__skill .main__skill--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 414px) {
  .main__skill .main__skill--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.main__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__experience .trunk {
  position: relative;
  background: #d8d8d8;
  width: 2px;
  height: 513px;
}

.main__experience .trunk .top {
  position: absolute;
  top: 0px;
  left: -15px;
}

.main__experience .trunk .node {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.main__experience .trunk .node img {
  max-width: 24px;
  max-height: 28px;
}

.main__experience .trunk .node.node--2 {
  left: -11px;
  top: 10%;
}

.main__experience .trunk .node.node--2 img {
  margin-right: 13px;
}

.main__experience .trunk .node.node--1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  right: -11px;
  top: calc(10% + 150px);
}

.main__experience .trunk .node.node--1 img {
  margin-left: 13px;
}

.main__experience .trunk .node.node--0 {
  left: -11px;
  top: calc(10% + 300px);
}

.main__experience .trunk .node.node--0 img {
  margin-right: 13px;
}

.main__experience .trunk .node .content {
  background: #ffffff;
  border: 1px solid #fb56bf;
  border-radius: 10px;
  width: 260px;
  height: 136px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.53px;
  color: #4a4a4a;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__experience .trunk .node .content.reverse {
  text-align: right;
}

.main__experience .trunk .node .content .main__experience--job {
  color: #8a1737;
  font-weight: bold;
}

.main__experience .trunk .node .content .main__experience--describe {
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.44px;
  line-height: 18px;
}

.main__experience .trunk .root {
  position: absolute;
  bottom: 0px;
  left: -22px;
  background: #d8d8d8;
  width: 46px;
  height: 4px;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .main__experience .trunk .node .content {
    width: 40vw;
  }
}

@media (max-width: 414px) {
  .main__experience {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__experience .trunk {
    margin-left: 10%;
  }
  .main__experience .trunk .node.node--1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: -11px;
  }
  .main__experience .trunk .node.node--1 img {
    margin-left: 0px;
    margin-right: 13px;
  }
  .main__experience .trunk .node .content {
    width: 70vw;
  }
  .main__experience .trunk .node .content.reverse {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: left;
  }
}

.main__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .main__works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 414px) {
  .main__works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__works .main__works--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 284px;
  height: 213px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
}

.main__works .main__works--item p {
  color: #4a4a4a;
  margin-left: 8px;
}

.main__works .main__works--item .work1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 150px;
  background: #ffa0dc;
}

.main__works .main__works--item .work1 img {
  max-width: 207px;
  max-height: 114px;
}

.main__works .main__works--item .work2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.main__works .main__works--item .work2-3 img {
  max-width: 80px;
  max-height: 80px;
}

.main__works .main__works--item .work2-3.black {
  background: #424242;
}

.main__works .main__works--item .work2-3.blue {
  background: #8ad7fa;
}

.main__works .main__works--item .main__works--name {
  font-weight: bold;
  color: #000000;
  margin: 10px 0px 7px 8px;
}

@media (max-width: 767px) {
  .main__works .main__works--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .main__works .main__works--item .work1 {
    width: 100%;
  }
  .main__works .main__works--item .work2-3 {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .main__works .main__works--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .main__works .main__works--item .work1 {
    width: 100%;
  }
  .main__works .main__works--item .work2-3 {
    width: 100%;
  }
}

.main__aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15%;
  padding-bottom: 74px;
}

.main__aboutMe img {
  max-width: 260px;
  max-height: 335px;
}

.main__aboutMe .main__aboutMe--text {
  padding: 30px 10% 0px 45px;
}

.main__aboutMe .main__aboutMe--text p {
  font-size: 14px;
  line-height: 26px;
  color: #4a4a4a;
}

@media (max-width: 767px) {
  .main__aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

@media (max-width: 414px) {
  .main__aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}
