@mixin pad {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 414px) {
        @content;
    }
}

.wrap {
    margin: 0 auto;
    max-width: 1025px;
    background-color: #fafafa;
}

.header {
    display: flex;
    background-image: url(../assets/img-headerShape.png);
    height: 399px;
    max-width: 1024px;
    padding-top: 12%;

    .header__picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 14%;
        margin-right: 14%;
        h1 {
            font-size: 42px;
            color: #000000;
            line-height: 56px;
        }
        p {
            font-size: 14px;
            color: #4a4a4a;
            line-height: 19px;
        }
        .circular--landscape {
            width: 151px;
            height: 151px;
            overflow: hidden;
            border-radius: 50%;
            img {
                max-width: 200px;
                max-height: 200px;
                margin-top: -10%;
            }
        }
    }

    .header__contact {
        display: flex;
        flex-direction: column;

        .header__contact--item {
            display: flex;
            align-items: center;
            margin-bottom: 15%;
            p {
                margin-left: 10%;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }

    @include mobile() {
        padding-top: 5%;
        height: auto;

        .header__picture {
            margin-left: 5%;
            margin-right: 5%;
            .circular--landscape {
                width: 151px * 0.8;
                height: 151px * 0.8;
                img {
                    max-width: 200px * 0.8;
                    max-height: 200px * 0.8;
                }
            }
        }

        .header__contact {
            margin-left: 10px;
            .header__contact--item {
                flex-direction: column;
                margin-bottom: 10%;
                p {
                    margin-left: 0%;
                }
                img {
                    max-width: 20px;
                    max-height: 20px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
    }

    @import "main.scss";
}

.footer {
    background-image: url(../assets/img-Looper-bg.png);
    padding-top: 32px;
    padding-bottom: 32px;
    h2 {
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        text-align: center;
    }
}
