@mixin pad {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 414px) {
        @content;
    }
}

.main__skill {
    display: flex;
    justify-content: center;

    @include pad() {
        flex-direction: column;
        align-items: center;
    }

    @include mobile() {
        flex-direction: column;
        align-items: center;
    }

    .main__skill--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 25px 35px 25px 35px;
        width: 284px;
        p {
            font-size: 18px;
            line-height: 24px;
            color: #4a4a4a;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        ul {
            list-style: disc inside;
            width: 100%;
        }
        li {
            font-size: 10px;
            line-height: 20px;
            color: #4a4a4a;
            text-align: left;
        }
        &.orange {
            border-bottom: 6px solid #f58d23;
        }
        &.green {
            border-bottom: 6px solid #539e43;
        }
        &.purple {
            border-bottom: 6px solid #6762a6;
        }

        @include pad() {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }

        @include mobile() {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
    }
}

.main__experience {
    display: flex;
    justify-content: center;
    .trunk {
        position: relative;
        background: #d8d8d8;
        width: 2px;
        height: 513px;
        .top {
            position: absolute;
            top: 0px;
            left: -15px;
        }
        .node {
            display: flex;
            position: absolute;
            img {
                max-width: 24px;
                max-height: 28px;
            }
            &.node--2 {
                left: -11px;
                top: 10%;
                img {
                    margin-right: 13px;
                }
            }
            &.node--1 {
                flex-direction: row-reverse;
                right: -11px;
                top: calc(10% + 150px);
                img {
                    margin-left: 13px;
                }
            }
            &.node--0 {
                left: -11px;
                top: calc(10% + 300px);
                img {
                    margin-right: 13px;
                }
            }
            .content {
                background: #ffffff;
                border: 1px solid #fb56bf;
                border-radius: 10px;
                width: 260px;
                height: 136px;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.53px;
                color: #4a4a4a;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &.reverse {
                    text-align: right;
                }
                .main__experience--job {
                    color: #8a1737;
                    font-weight: bold;
                }
                .main__experience--describe {
                    font-size: 10px;
                    color: #9b9b9b;
                    letter-spacing: 0.44px;
                    line-height: 18px;
                }
            }
        }
        .root {
            position: absolute;
            bottom: 0px;
            left: -22px;
            background: #d8d8d8;
            width: 46px;
            height: 4px;
            border-radius: 2px;
        }
    }
    @include pad() {
        .trunk .node .content {
            width: 40vw;
        }
    }

    @include mobile() {
        justify-content: flex-start;
        .trunk {
            margin-left: 10%;
            .node {
                &.node--1 {
                    flex-direction: row;
                    left: -11px;
                    img {
                        margin-left: 0px;
                        margin-right: 13px;
                    }
                }
                .content {
                    width: 70vw;
                    &.reverse {
                        flex-shrink: 0;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.main__works {
    display: flex;
    justify-content: center;

    @include pad() {
        flex-direction: column;
        align-items: center;
    }

    @include mobile() {
        flex-direction: column;
        align-items: center;
    }

    .main__works--item {
        display: flex;
        flex-direction: column;
        width: 284px;
        height: 213px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        background: #ffffff;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 19px;
        p {
            color: #4a4a4a;
            margin-left: 8px;
        }
        .work1 {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 150px;
            background: #ffa0dc;
            img {
                max-width: 207px;
                max-height: 114px;
            }
        }
        .work2-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            img {
                max-width: 80px;
                max-height: 80px;
            }
            &.black {
                background: #424242;
            }
            &.blue {
                background: #8ad7fa;
            }
        }
        .main__works--name {
            font-weight: bold;
            color: #000000;
            margin: 10px 0px 7px 8px;
        }

        @include pad() {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            .work1 {
                width: 100%;
            }
            .work2-3 {
                width: 100%;
            }
        }

        @include mobile() {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            .work1 {
                width: 100%;
            }
            .work2-3 {
                width: 100%;
            }
        }
    }
}

.main__aboutMe {
    display: flex;
    padding-left: 15%;
    padding-bottom: 74px;
    img {
        max-width: 260px;
        max-height: 335px;
    }
    .main__aboutMe--text {
        padding: 30px 10% 0px 45px;
        p {
            font-size: 14px;
            line-height: 26px;
            color: #4a4a4a;
        }
    }

    @include pad() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    @include mobile() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}
